<style>
    nav {
        background-color: #333; /* Dark background color for the navbar */
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 5px 0; /* Reduced padding */
        z-index: 1000; /* Ensure it stays on top of other content */
    }

    nav a {
        color: white; /* White text color */
        text-decoration: none; /* Remove underline */
        display: inline-block;
        padding: 10px 15px; /* Reduced padding for links */
        margin-right: 160px; /* Reduced spacing between links */
        font-size: 14px; /* Slightly smaller font size */
    }

    nav a:hover {
        background-color: #575757; /* Darker background on hover */
        border-radius: 4px; /* Rounded corners for hover effect */
    }
</style>

<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'createproduct' %}">Add Product</a>
    <a href="{% url 'page_list' %}">Listing Product</a>
    <a href="{% url 'retrieveproduct' %}">EDIT/DELETE Product</a>
    <a href="{% url 'search' %}">Search</a>
    <a href="{% url 'logout' %}">LogOut</a>
</nav>
